/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

.extra-container,
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  --spacer: 30px;
}

.container-fluid {
  width: 100%;
  --spacer: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--spacer) / 2 * -1);
  margin-right: calc(var(--spacer) / 2 * -1);
}

[class^="col-"] {
  flex: 0 0 auto;
  width: calc(100% / 12 * var(--number-col));
  padding-left: calc(var(--spacer) / 2);
  padding-right: calc(var(--spacer) / 2);
  /* flex-shrink: 0; */
}
.col {
  flex: 1 0;
  padding-left: calc(var(--spacer) / 2);
  padding-right: calc(var(--spacer) / 2);
}

.g-0 {
  --spacer: 0;
}

.col-1 {
  flex: 0 0;
  --number-col: 1;
}
.col-2 {
  --number-col: 2;
}
.col-3 {
  --number-col: 3;
}
.col-4 {
  --number-col: 4;
}
.col-5 {
  --number-col: 5;
}
.col-6 {
  --number-col: 6;
}
.col-7 {
  --number-col: 7;
}
.col-8 {
  --number-col: 8;
}
.col-9 {
  --number-col: 9;
}
.col-10 {
  --number-col: 10;
}
.col-11 {
  --number-col: 11;
}
.col-12 {
  --number-col: 12;
}

.row[class*="row-cols-"] {
  flex: 0 0 auto;
}

.row[class*="row-cols-"] [class*="col-"] {
  width: calc(100% / 12 * var(--number-col));
  padding-left: calc(var(--spacer) / 2);
  padding-right: calc(var(--spacer) / 2);
}

.row[class*="row-cols-"] .col {
  flex: 0 0 auto;
  width: calc(100% / var(--row-cols-number));
  padding-left: calc(var(--spacer) / 2);
  padding-right: calc(var(--spacer) / 2);
}

.row[class*="row-cols-"] .col-6 {
  --row-cols-number: 6;
}

.row-cols-1 .col {
  --row-cols-number: 1;
}
.row-cols-2 .col {
  --row-cols-number: 2;
}
.row-cols-3 .col {
  --row-cols-number: 3;
}
.row-cols-4 .col {
  --row-cols-number: 4;
}
.row-cols-5 .col {
  --row-cols-number: 5;
}
.row-cols-6 .col {
  --row-cols-number: 6;
}
.row-cols-7 .col {
  --row-cols-number: 7;
}
.row-cols-8 .col {
  --row-cols-number: 8;
}
.row-cols-9 .col {
  --row-cols-number: 9;
}
.row-cols-10.col {
  --row-cols-number: 10;
}
.row-cols-11.col {
  --row-cols-number: 11;
}
.row-cols-12.col {
  --row-cols-number: 12;
}

.row > [class*="offset-"] {
  margin-left: calc(100% / 12 * var(--offset-number));
}

.offset-0 {
  --offset-number: 0;
}
.offset-1 {
  --offset-number: 1;
}
.offset-2 {
  --offset-number: 2;
}
.offset-3 {
  --offset-number: 3;
}
.offset-4 {
  --offset-number: 4;
}
.offset-5 {
  --offset-number: 5;
}
.offset-6 {
  --offset-number: 6;
}
.offset-7 {
  --offset-number: 7;
}
.offset-8 {
  --offset-number: 8;
}
.offset-9 {
  --offset-number: 9;
}
.offset-10 {
  --offset-number: 10;
}
.offset-11 {
  --offset-number: 11;
}

/* [class^="container"] {
  width: 100%;
  background-color: orange;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
} */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .header-container {
    max-width: 540px;
  }
  .container {
    max-width: 540px;
    --spacer: 10px;
  }

  .col-sm-1 {
    flex: 0 0;
    --number-col: 1;
  }
  .col-sm-2 {
    --number-col: 2;
  }
  .col-sm-3 {
    --number-col: 3;
  }
  .col-sm-4 {
    --number-col: 4;
  }
  .col-sm-5 {
    --number-col: 5;
  }
  .col-sm-6 {
    --number-col: 6;
  }
  .col-sm-7 {
    --number-col: 7;
  }
  .col-sm-8 {
    --number-col: 8;
  }
  .col-sm-9 {
    --number-col: 9;
  }
  .col-sm-10 {
    --number-col: 10;
  }
  .col-sm-11 {
    --number-col: 11;
  }
  .col-sm-12 {
    --number-col: 12;
  }
  .row-cols-sm-1 .col {
    --row-cols-number: 1;
  }
  .row-cols-sm-2 .col {
    --row-cols-number: 2;
  }
  .row-cols-sm-3 .col {
    --row-cols-number: 3;
  }
  .row-cols-sm-4 .col {
    --row-cols-number: 4;
  }
  .row-cols-sm-5 .col {
    --row-cols-number: 5;
  }
  .row-cols-sm-6 .col {
    --row-cols-number: 6;
  }
  .row-cols-sm-7 .col {
    --row-cols-number: 7;
  }
  .row-cols-sm-8 .col {
    --row-cols-number: 8;
  }
  .row-cols-sm-9 .col {
    --row-cols-number: 9;
  }
  .row-cols-sm-10.col {
    --row-cols-number: 10;
  }
  .row-cols-sm-11.col {
    --row-cols-number: 11;
  }
  .row-cols-sm-12.col {
    --row-cols-number: 12;
  }

  .offset-sm-0 {
    --offset-number: 0;
  }
  .offset-sm-1 {
    --offset-number: 1;
  }
  .offset-sm-2 {
    --offset-number: 2;
  }
  .offset-sm-3 {
    --offset-number: 3;
  }
  .offset-sm-4 {
    --offset-number: 4;
  }
  .offset-sm-5 {
    --offset-number: 5;
  }
  .offset-sm-6 {
    --offset-number: 6;
  }
  .offset-sm-7 {
    --offset-number: 7;
  }
  .offset-sm-8 {
    --offset-number: 8;
  }
  .offset-sm-9 {
    --offset-number: 9;
  }
  .offset-sm-10 {
    --offset-number: 10;
  }
  .offset-sm-11 {
    --offset-number: 11;
  }

  .g-sm-0 {
    --spacer: 0;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .header-container {
    max-width: 730px;
  }
  .container {
    max-width: 720px;
    --spacer: 10px;
  }
  .col-md-1 {
    flex: 0 0;
    --number-col: 1;
  }
  .col-md-2 {
    --number-col: 2;
  }
  .col-md-3 {
    --number-col: 3;
  }
  .col-md-4 {
    --number-col: 4;
  }
  .col-md-5 {
    --number-col: 5;
  }
  .col-md-6 {
    --number-col: 6;
  }
  .col-md-7 {
    --number-col: 7;
  }
  .col-md-8 {
    --number-col: 8;
  }
  .col-md-9 {
    --number-col: 9;
  }
  .col-md-10 {
    --number-col: 10;
  }
  .col-md-11 {
    --number-col: 11;
  }
  .col-md-12 {
    --number-col: 12;
  }

  .row-cols-md-1 .col {
    --row-cols-number: 1;
  }
  .row-cols-md-2 .col {
    --row-cols-number: 2;
  }
  .row-cols-md-3 .col {
    --row-cols-number: 3;
  }
  .row-cols-md-4 .col {
    --row-cols-number: 4;
  }
  .row-cols-md-5 .col {
    --row-cols-number: 5;
  }
  .row-cols-md-6 .col {
    --row-cols-number: 6;
  }
  .row-cols-md-7 .col {
    --row-cols-number: 7;
  }
  .row-cols-md-8 .col {
    --row-cols-number: 8;
  }
  .row-cols-md-9 .col {
    --row-cols-number: 9;
  }
  .row-cols-md-10.col {
    --row-cols-number: 10;
  }
  .row-cols-md-11.col {
    --row-cols-number: 11;
  }
  .row-cols-md-12.col {
    --row-cols-number: 12;
  }

  .offset-md-0 {
    --offset-number: 0;
  }
  .offset-md-1 {
    --offset-number: 1;
  }
  .offset-md-2 {
    --offset-number: 2;
  }
  .offset-md-3 {
    --offset-number: 3;
  }
  .offset-md-4 {
    --offset-number: 4;
  }
  .offset-md-5 {
    --offset-number: 5;
  }
  .offset-md-6 {
    --offset-number: 6;
  }
  .offset-md-7 {
    --offset-number: 7;
  }
  .offset-md-8 {
    --offset-number: 8;
  }
  .offset-md-9 {
    --offset-number: 9;
  }
  .offset-md-10 {
    --offset-number: 10;
  }
  .offset-md-11 {
    --offset-number: 11;
  }

  .g-md-0 {
    --spacer: 0;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .header-container {
    max-width: 980px;
  }
  .container {
    max-width: 960px;
    --spacer: 20px;
  }
  .col-lg-1 {
    flex: 0 0;
    --number-col: 1;
  }
  .col-lg-2 {
    --number-col: 2;
  }
  .col-lg-3 {
    --number-col: 3;
  }
  .col-lg-4 {
    --number-col: 4;
  }
  .col-lg-5 {
    --number-col: 5;
  }
  .col-lg-6 {
    --number-col: 6;
  }
  .col-lg-7 {
    --number-col: 7;
  }
  .col-lg-8 {
    --number-col: 8;
  }
  .col-lg-9 {
    --number-col: 9;
  }
  .col-lg-10 {
    --number-col: 10;
  }
  .col-lg-11 {
    --number-col: 11;
  }
  .col-lg-12 {
    --number-col: 12;
  }

  .row-cols-lg-1 .col {
    --row-cols-number: 1;
  }
  .row-cols-lg-2 .col {
    --row-cols-number: 2;
  }
  .row-cols-lg-3 .col {
    --row-cols-number: 3;
  }
  .row-cols-lg-4 .col {
    --row-cols-number: 4;
  }
  .row-cols-lg-5 .col {
    --row-cols-number: 5;
  }
  .row-cols-lg-6 .col {
    --row-cols-number: 6;
  }
  .row-cols-lg-7 .col {
    --row-cols-number: 7;
  }
  .row-cols-lg-8 .col {
    --row-cols-number: 8;
  }
  .row-cols-lg-9 .col {
    --row-cols-number: 9;
  }
  .row-cols-lg-10.col {
    --row-cols-number: 10;
  }
  .row-cols-lg-11.col {
    --row-cols-number: 11;
  }
  .row-cols-lg-12.col {
    --row-cols-number: 12;
  }

  .offset-lg-0 {
    --offset-number: 0;
  }
  .offset-lg-1 {
    --offset-number: 1;
  }
  .offset-lg-2 {
    --offset-number: 2;
  }
  .offset-lg-3 {
    --offset-number: 3;
  }
  .offset-lg-4 {
    --offset-number: 4;
  }
  .offset-lg-5 {
    --offset-number: 5;
  }
  .offset-lg-6 {
    --offset-number: 6;
  }
  .offset-lg-7 {
    --offset-number: 7;
  }
  .offset-lg-8 {
    --offset-number: 8;
  }
  .offset-lg-9 {
    --offset-number: 9;
  }
  .offset-lg-10 {
    --offset-number: 10;
  }
  .offset-lg-11 {
    --offset-number: 11;
  }

  .g-xl-0 {
    --spacer: 0;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .header-container {
    max-width: 1480px;
  }
  .container {
    max-width: 1140px;
    --spacer: 30px;
  }
  .col-xl-1 {
    flex: 0 0;
    --number-col: 1;
  }
  .col-xl-2 {
    --number-col: 2;
  }
  .col-xl-3 {
    --number-col: 3;
  }
  .col-xl-4 {
    --number-col: 4;
  }
  .col-xl-5 {
    --number-col: 5;
  }
  .col-xl-6 {
    --number-col: 6;
  }
  .col-xl-7 {
    --number-col: 7;
  }
  .col-xl-8 {
    --number-col: 8;
  }
  .col-xl-9 {
    --number-col: 9;
  }
  .col-xl-10 {
    --number-col: 10;
  }
  .col-xl-11 {
    --number-col: 11;
  }
  .col-xl-12 {
    --number-col: 12;
  }
  .row-cols-xl-1 .col {
    --number-cols-number: 1;
  }
  .row-cols-xl-2 .col {
    --number-cols-number: 2;
  }
  .row-cols-xl-3 .col {
    --number-cols-number: 3;
  }
  .row-cols-xl-4 .col {
    --number-cols-number: 4;
  }
  .row-cols-xl-5 .col {
    --number-cols-number: 5;
  }
  .row-cols-xl-6 .col {
    --number-cols-number: 6;
  }
  .row-cols-xl-7 .col {
    --number-cols-number: 7;
  }
  .row-cols-xl-8 .col {
    --number-cols-number: 8;
  }
  .row-cols-xl-9 .col {
    --number-cols-number: 9;
  }
  .row-cols-xl-10.col {
    --number-cols-number: 10;
  }
  .row-cols-xl-11.col {
    --number-cols-number: 11;
  }
  .row-cols-xl-12.col {
    --number-cols-number: 12;
  }

  .offset-xl-0 {
    --offset-number: 0;
  }
  .offset-xl-1 {
    --offset-number: 1;
  }
  .offset-xl-2 {
    --offset-number: 2;
  }
  .offset-xl-3 {
    --offset-number: 3;
  }
  .offset-xl-4 {
    --offset-number: 4;
  }
  .offset-xl-5 {
    --offset-number: 5;
  }
  .offset-xl-6 {
    --offset-number: 6;
  }
  .offset-xl-7 {
    --offset-number: 7;
  }
  .offset-xl-8 {
    --offset-number: 8;
  }
  .offset-xl-9 {
    --offset-number: 9;
  }
  .offset-xl-10 {
    --offset-number: 10;
  }
  .offset-xl-11 {
    --offset-number: 11;
  }

  .g-xl-0 {
    --spacer: 0;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .header-container {
    max-width: 1330px;
  }
  .container {
    max-width: 1170px;
    --spacer: 30px;
  }
  .col-xxl-1 {
    flex: 0 0;
    --number-col: 1;
  }
  .col-xxl-2 {
    --number-col: 2;
  }
  .col-xxl-3 {
    --number-col: 3;
  }
  .col-xxl-4 {
    --number-col: 4;
  }
  .col-xxl-5 {
    --number-col: 5;
  }
  .col-xxl-6 {
    --number-col: 6;
  }
  .col-xxl-7 {
    --number-col: 7;
  }
  .col-xxl-8 {
    --number-col: 8;
  }
  .col-xxl-9 {
    --number-col: 9;
  }
  .col-xxl-10 {
    --number-col: 10;
  }
  .col-xxl-11 {
    --number-col: 11;
  }
  .col-xxl-12 {
    --number-col: 12;
  }

  .row-cols-xxl-1 .col {
    --row-cols-number: 1;
  }
  .row-cols-xxl-2 .col {
    --row-cols-number: 2;
  }
  .row-cols-xxl-3 .col {
    --row-cols-number: 3;
  }
  .row-cols-xxl-4 .col {
    --row-cols-number: 4;
  }
  .row-cols-xxl-5 .col {
    --row-cols-number: 5;
  }
  .row-cols-xxl-6 .col {
    --row-cols-number: 6;
  }
  .row-cols-xxl-7 .col {
    --row-cols-number: 7;
  }
  .row-cols-xxl-8 .col {
    --row-cols-number: 8;
  }
  .row-cols-xxl-9 .col {
    --row-cols-number: 9;
  }
  .row-cols-xxl-10.col {
    --row-cols-number: 10;
  }
  .row-cols-xxl-11.col {
    --row-cols-number: 11;
  }
  .row-cols-xxl-12.col {
    --row-cols-number: 12;
  }

  .offset-xxl-0 {
    --offset-number: 0;
  }
  .offset-xxl-1 {
    --offset-number: 1;
  }
  .offset-xxl-2 {
    --offset-number: 2;
  }
  .offset-xxl-3 {
    --offset-number: 3;
  }
  .offset-xxl-4 {
    --offset-number: 4;
  }
  .offset-xxl-5 {
    --offset-number: 5;
  }
  .offset-xxl-6 {
    --offset-number: 6;
  }
  .offset-xxl-7 {
    --offset-number: 7;
  }
  .offset-xxl-8 {
    --offset-number: 8;
  }
  .offset-xxl-9 {
    --offset-number: 9;
  }
  .offset-xxl-10 {
    --offset-number: 10;
  }
  .offset-xxl-11 {
    --offset-number: 11;
  }

  .g-xxl-0 {
    --spacer: 0;
  }
}
