*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

body {
  font-size: 1.6rem;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

/* Common */

.inner {
  margin-top: 30px;
  background-color: #ccc;
  height: 100px;
  display: block;
}

a {
  padding: 16px;
  margin: -16px;
  text-decoration: none;
}

.btn {
  width: 170px;
  height: 62px;
  background: #5d3bee;
  color: #fdfdfd;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3rem; /* 166.667% */
  border-color: transparent;
  outline: transparent;
}

.heading--lv1 {
  color: #080415;
  font-size: 8rem;
  font-weight: 500;
  line-height: 7.6rem; /* 95% */
  letter-spacing: -3.2px;
}

.heading--lv2 {
  color: #080415;
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 6.6rem; /* 117.857% */
  letter-spacing: -2.24px;
}

.desc--lv1 {
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem; /* 166.667% */
}

/* Header */

.header {
  background: #fbfaff;
  position: sticky;
  top: 0;
  z-index: 99;
}

.footer-inner,
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-block {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 46px;
  height: 46px;
  border: 1px solid rgba(93, 59, 238, 0.2);
  border-radius: 50%;
}

.logo img {
  width: 24px;
  height: 16px;
  object-fit: cover;
}

.logo-block span {
  color: #080415;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 3rem; /* 136.364% */
}

.logo-block span:hover {
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.header-icon {
  background-color: transparent;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.footer-nav,
.header-nav {
  display: flex;
  gap: 43px;
}

.nav-item a {
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 400;
}

/* Hero */

.hero {
  background: #fbfaff;
  height: calc(100vh - 102px);
  display: flex;
  align-items: center;
}

.hero-inner {
  position: relative;
}

.hero-img {
  position: relative;
  width: calc(100% + 45px);
  object-fit: cover;
  display: block;
  margin-left: 15px;
  z-index: 1;
}

.hero-info {
  margin-left: -15px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  padding-bottom: 43px;
}

.hero-desc {
  display: inline-block;
  max-width: 80%;
  margin-top: 20px;
  margin-bottom: 50px;
}

.hero-row {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 109px;
}

.hero-btn {
  width: 170px;
  height: 62px;
}

.hero-link {
  color: #080415;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem; /* 166.667% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-decoration: none;
}

.hero-link:hover {
  text-decoration: underline;
}

.hero-social {
  display: flex;
}

.hero-social span {
  display: flex;
  align-items: center;
  color: #51586a;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3rem; /* 187.5% */
  margin-right: 15px;
}

.hero-social__icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid rgba(8, 4, 21, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-social__icon svg {
  color: rgba(8, 4, 21, 1);
}

.hero-social__icon + .hero-social__icon {
  margin-left: 20px;
}

.hero-deco {
  position: absolute;
}

.hero-deco:last-of-type {
  right: -200px;
  bottom: 0;
}

.hero-deco:nth-last-of-type(2) {
  left: -200px;
  bottom: 0px;
}

/* Client */
.client {
  padding-top: 100px;
}

.client-left {
  position: relative;
  width: 100%;
  padding-left: 99px;
}

.client-left::before {
  position: absolute;
  top: 22px;
  left: 0;
  content: "";
  display: block;
  width: 86px;
  height: 2px;
  background-color: #5d3bee;
}

.client-heading {
  color: #080415;
  font-size: 4.2rem;
  font-weight: 500;
  line-height: 5rem; /* 119.048% */
  letter-spacing: -1.68px;
  width: 90%;
}
.companies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 36px;
}

.company {
  display: flex;
  align-items: center;
  gap: 13px;
}

.company-logo {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.company:nth-of-type(1) {
}
.company:nth-of-type(2) .company-logo {
  background-color: #fbfaff;
}
.company:nth-of-type(3) .company-logo {
  background-color: #fee101;
  margin-left: 50px;
}
.company:nth-of-type(4) {
  justify-self: end;
}
.company:nth-of-type(4) .company-logo {
  background-color: #f00;
}
.company:nth-of-type(5) .company-logo {
  background-color: rgba(20, 168, 0, 1);
}
.company:nth-of-type(6) .company-logo {
  background-color: rgba(255, 255, 255, 1);
}
.company:nth-of-type(7) .company-logo {
  background-color: rgba(127, 84, 179, 1);
  margin-left: 50px;
}
.company:nth-of-type(8) {
  justify-self: end;
}
.company:nth-of-type(8) .company-logo {
  background-color: #f00;
}

/* portfolio */

.portfolio {
  padding-top: 133px;
}

.portfolio-heading {
  text-align: center;
}

.portfolio-desc {
  margin-top: 20px;
  text-align: center;
  display: inline-block;
  padding: 0 12px;
}

.portfolio-list {
  margin-top: 60px;
}

.portfolio-item {
  padding: 33px 0 32px 43px;
  background: #fbfaff;
}

.portfolio-icon {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  border: 1px solid rgba(8, 4, 21, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-icon img {
  object-fit: cover;
  margin-bottom: -16px;
}

.portfolio-title {
  margin-top: 22px;
  color: #080415;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4rem; /* 125% */
  letter-spacing: -1.28px;
}

.portfolio-item__desc {
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem; /* 166.667% */
}

/* About */
.about-media {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.about-media iframe {
  position: absolute;
  inset: 0;
}

/*  */
.works-btn {
  width: 100%;
  height: 62px;
}
