*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

body {
  font-size: 1.6rem;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

/* Common */

a {
  padding: 16px;
  margin: -16px;
  text-decoration: none;
}

.btn {
  width: 170px;
  height: 62px;
  background: #5d3bee;
  color: #fdfdfd;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3rem; /* 166.667% */
}

.heading--lv1 {
  color: #080415;
  font-size: 8rem;
  font-weight: 500;
  line-height: 7.6rem; /* 95% */
  letter-spacing: -3.2px;
}

.heading--lv2 {
  color: #080415;
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 6.6rem; /* 117.857% */
  letter-spacing: -2.24px;
}

.desc--lv1 {
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem; /* 166.667% */
}

/* Header */

.header {
  padding: 20px 0;
  background: #fbfaff;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-block {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 46px;
  height: 46px;
  border: 1px solid rgba(93, 59, 238, 0.2);
  border-radius: 50%;
}

.logo img {
  width: 24px;
  height: 16px;
  object-fit: cover;
}

.logo-block span {
  color: #080415;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 3rem; /* 136.364% */
}

.logo-block span:hover {
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.header-icon {
  background-color: transparent;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.header-nav {
  display: flex;
  gap: 43px;
}

.nav-item a {
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 400;
}
